main {
    padding-top: 40px;
    margin-top: 80px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.faq-section {
    width: 80%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-section header {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.faq-section header h2 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.faq-container {
    display: flex;
    flex-direction: column;
}

.faq-box {
    border: none;
}

.faq-question {
    font-size: 15px;
    background-color: #f5f5f5;
    cursor: pointer;
    padding: 15px;
    display: flex;
    border: 1px solid #ccc;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    margin: 10px;
    font-size: 15px;
    padding: 15px;
    background-color: white;
    letter-spacing: 0.5px;
}

.faq-divider {
    border: none;
    height: 1px;
    background-color: #ddd;
}

.arrow {
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .faq-section {
        width: 90%;
    }
}

.saran-container {
    max-width: 600px;
    margin: 40px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.saran-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.saran-container input[type="text"],
.saran-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.saran-container textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

.saran-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #089A5b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.saran-container button:hover {
    background-color: #077b4c;
}

@media (max-width: 768px) {
    .saran-container {
        width: 90%;
    }
}

.faq-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #089a5b;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 100;
}

.faq-button:hover {
    background-color: #ffffff;
    color: #006400;
}


/* Style for the notification box */